@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerenciamneto de lojas do Shopping Mooca Plaza</h1>
    <p>Seja bem-vindo emprendedor(a), no sistema em questão é disploniilizado a função de inserção de seu negócio no shopping.</p>
    <img src="https://cdn.abcdoabc.com.br/BRMALLS-Mooca_257d74e8.jpg">
</div>
