@{
    ViewData["Title"] = "Erro Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Erro</h1>
    <p>O nome de loja <strong>@ViewBag.LojaNome</strong> inserido jรก foi cadastrado</p>
</div>
